h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: Khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}
h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.Brushes {
    background-color: mediumspringgreen;
}
#prices {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
.Frames {
    background-color: lightcoral;
}
.Paint {
    background-color: skyblue;
}
